
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(@page_header)

- if current_flow.process == :add_email
  = steps(3, 5)
- elsif current_flow.process == :change_email
  = steps(3, 5)
- elsif current_flow.process == :remove_email
  = steps(3, 4)
- elsif current_flow.process == :cancel_account
  = steps(3, 4)
- elsif current_flow.process == :deactivate_app
  = steps(3, 4)

%h2.orange_heading= t('digid_app.scan_qr_code')

- url = digid_app_provisioning_uri("wid", @app_session_id)
= inline_qr_tag(url, id: "app_verification_code", klass: "digid-qr-code-logo digid-qr-code-logo-small")
- @background = "qr#{mobile_browser? ? "-mobile" : ""}"

= actions do
  = cancel_button(current_flow[:cancelled][:redirect_to])

- if Rails.env.development?
  %textarea#dev-qr-url.qr_url{ readonly: true }= url
  = javascript_include_tag("inline/qr_dev", nonce: content_security_policy_script_nonce)

.poller{ data: { url: my_digid_controleer_qr_poll_url, timeout: 3000, suspended: Rails.env.test? } }
