
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

.form_wrapper
  %h1 Nieuwsbericht '#{news_item.name_nl}'
  .actions_top
    = link_to 'Terug naar overzicht', news_items_path
    = link_to('Wijzig nieuwsbericht', edit_news_item_path(news_item), class: 'edit_button') if can?(:update, NewsItem)

  %table.border-0
    %tr
      %td
        %strong.padding-right-10 Titel NL
        = news_item.name_nl
      %td
        %strong Titel EN
        = news_item.name_en
    %tr.transparent
      %td.width-25
        .field
          .left
            %strong Inhoud NL
            .form_wrapper{ id: 'news_item'}= sanitized_news_body_for(news_item, "nl")
      %td.width-25
        .field
          .left
            %strong Inhoud EN
            .form_wrapper{ id: 'news_item'}= sanitized_news_body_for(news_item, "en")
        .clear
      %td.width-25
        .field
          .right.width-173px
            %strong Zichtbare locatie(s)
            .config= news_locations(news_item)
      %td.width-25
        .field
          .right.width-173px
            %strong Gebruiker-configuratie
            .config= user_configuration(news_item)

  = field 'Laatst gewijzigd', l(news_item.updated_at, format: :default)
  .clear

  .field= news_item_active(news_item)

  .actions= link_to('Verwijder nieuwsbericht', news_item_path(news_item), class: 'delete_button', data: { confirm: t('are_you_sure') }, method: :delete) if can?(:destroy, NewsItem)
  .clear
