
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= extended_form_for(@registration, html: { remote: true, class: "gba_popup" }) do |form|
  %p= t('you_are_about_to_request_digid').html_safe
  - @show_fields_required = true
  = form.header(nil, base: :leakage)

  = form.citizen_service_number_field(required: true, tabindex: 2, example: t("information_boxes.bsn"))
  = form.date_of_birth_field(required: true, tabindex: 3)
  <br>
  %p= t('you_are_about_to_request_digid_additional_information_brp').html_safe
  = form.postcode_field(tabindex: 4, link_tabindex: 5, link_title: :switch_to_buitenland_aanvraag_proces, link_href: new_balie_registration_url, link_class: 'normal-to-front-desk-process-link')
  = form.house_number_field(tabindex: 6)

  = form.buttons({ action: :next, tabindex: 7, arrow: true }, action: :cancel, tabindex: 8)
