
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(@page_header)

- if session[:session].eql?('registration')
  = steps(4, 4)
- elsif @current_step
  = steps(@current_step, @total_steps)

%h2.orange_heading= t('email_sent_to_x', email_address: @account.try(:adres).html_safe || current_account.try(:adres)).html_safe
- if session[:session].eql?('registration')
  = block_with_icon do
    %p= t('email_open_in_different_window').html_safe
= flash_notice

= extended_form_for(email_code, url: confirm_email_url) do |form|
  %label.form__item__label.form__header--mail= t('enter_code_received_by_email')
  = form.code_field(:code, code: 'E', required: true, hide_required_indicator: true, label: false)
  %p.light-gray
    = t("examples.no_code_received")
    = link_to(t('send_again'), session[:session].eql?('mijn_digid') ? my_digid_repeat_email_url : repeat_email_url)
    %br
    = t("email_address_not_correct")
    = link_to(t('change_email_address'), session[:session].eql?('mijn_digid') ? edit_my_digid_email_url : edit_email_url)

  = form.buttons({action: :next, arrow: true}, (session[:session].eql?('registration') && !balie_session? && !web_registration_not_oeb?) ? :skip_verification : :cancel)
