
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= section_h3('Kanalen', [ActivationLetterFile, SentEmail, SmsChallenge, AppVersion]) do
  = can_link_to ActivationLetterFile,         link_to('Brieven', activation_letter_files_path)
  = can_link_to SentEmail,                    link_to('E-mail', sent_emails_path)
  = can_link_to SmsChallenge,                 link_to('SMS', sms_challenges_path)
  = can_link_to BeveiligdeBezorgingPostcode,  link_to('Beveiligde bezorging', beveiligde_bezorging_postcodes_path)
  = can_link_to AppVersion,                   link_to('DigiD app', app_versions_path)
  = can_link_to ThirdPartyApp,                link_to('Third-party app', third_party_apps_path)
  = can_link_to BlacklistedPhoneNumber,       link_to('Blacklist telefoonnummers', blacklisted_phone_numbers_path)
  = can_link_to WhitelistedPhoneNumber,       link_to('Whitelist telefoonnummers', whitelisted_phone_numbers_path)
