
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

- id = sector_authentication.try(:id) || SecureRandom.uuid.gsub('-','_')
%li{ id: "sector_authentication_#{id}" }
  = fields_for "webservice[sector_authentications_attributes][#{id}]", sector_authentication do |sa|
    %span.name
      #{sector_authentication.sector.name} #{'(In-actief)' if sector_authentication.sector.inactive?}
    %span.authorizations
      - unless [Sector.get('bsn'), Sector.get('a-nummer')].include?(sector_authentication.sector_id)
        = sa.check_box :registration
        = sa.label :registration
        %br
        = sa.check_box :revocation
        = sa.label :revocation
        %br
      - if sector_authentication.sector.test?
        = sa.check_box :test
        = sa.label :test
        %br
      - [:_destroy, :webservice_id, :sector_id, :position].each do |key|
        = sa.hidden_field key
      = delete_link('verwijder', '#', class: "delete_sector", id: id)
    .clear
      = sa.hidden_field :id unless sector_authentication.new_record?
