
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= column_box(class: 'left_column') do
  - [:id, :account_name, :name, :surname, :email].each do |symbol|
    = field manager_t(symbol), @manager.send(symbol)
  = field manager_t(:mobile_number), "06 - #{@manager.mobile_number}"
  = field manager_t(:status), content_tag(:span, display_active_or_not?, class: (@manager.active? ? 'green' : 'red'))
  = field manager_t(:subscribed_notifications) do
    - if @manager.subscribed_notifications.empty?
      = manager_t(:no_subscribed_notifications)
    - else
      = @manager.subscribed_notifications.map(&:description).join('<br/>').html_safe
  = field manager_t(:notify_via) do
    #{manager_t(:notify_sms, true)}  #{manager_t(:notify_email, true)}
    - unless @manager.notify_sms? || @manager.notify_email?
      Geen notificaties ingesteld
  = field manager_t(:distinguished_name), @manager.distinguished_name if can?(:manage, Manager) && action_name != "show_own"
= column_box(title: manager_t(:roles), border: true, class: 'right_column') do
  = render 'roles', manager: @manager
