
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

%h1
  = t("services.organizations.overview")
.actions_top= link_to(t("services.organizations.add_new"), new_dc_organization_path, class: 'new_button') if can? :create, Dc::Organization
.clear
.form_wrapper.filter= render "searchform"

- if can? :create, Dc::Organization
  %div{class: 'form_wrapper'}
    = form_tag( dc_upload_csv_path, html: { multipart: true }, enctype: "multipart/form-data", method: :post ) do
      = field label(:csv_file, "Upload csv"), file_field_tag(:csv_file)
      = field label(:dry_run, "Dry run"), check_box_tag(:dry_run)
      = submit_button 'Upload'

%div{class: 'form_wrapper'}
  %h2
    = t("services.organizations.organizations")
  - if @organizations.any?
    %table
      %thead
        %tr
          = render 'shared/table_header', headers: %w(services.id services.oin services.organizations.name services.active services.date_from services.date_until services.organizations.roles)
          - if can? :read, Dc::Organization
            %th.action
          - if can? :update, Dc::Organization
            %th.action
      %tbody
        - if @organizations.any?
          = render @organizations.content

      - if @organizations.any?
        = table_footer 10 do
          = paginate(@organizations, param_name: :page_organization)
  - else
    = "Er konden geen organisaties gevonden worden."

- if @organizations_in_review.try(:any?) && !params[:q]
  %div{class: 'form_wrapper'}
    %h2
      = t("services.four_eyes.to_approve")
    = render 'shared/four_eyes_reviews', review_records: @organizations_in_review, fields: %w(id oin name description), headers: %w(services.id services.oin services.organizations.name services.description services.four_eyes.modification_type services.four_eyes.modification_time services.four_eyes.modification_by services.remarks)
