
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

%table#letters_overview
  %thead
    %tr
      - %w(Tijdstip Brievenbestand Controlebestand Status Verwerking).each do |header|
        %th= header

  %tbody
    - if !@activation_letter_files.blank?
      - @activation_letter_files.each do |letter|
        %tr
          %td= letter.created_at.strftime('%d-%m-%Y %H:%M')
          %td= link_to letter.filename, download_xml_activation_letter_file_path(letter)
          %td= link_to letter.filename_csv, download_csv_activation_letter_file_path(letter)
          %td= I18n.t("letter_files.status.#{letter.status}") if letter.status
          - if letter.status == ActivationLetterFile::Status::PROCESSED
            %td= link_to(letter.processed_file, download_processed_activation_letter_file_path(letter))
          - else
            %td
              = link_to("(opnieuw) versturen", reupload_letter_activation_letter_file_path(letter), data: { confirm: t('are_you_sure') }, method: :post)
      = table_footer 5 do
        = paginate(@activation_letter_files)

    - else
      %tr
        %td{ colspan: 5 }= I18n.t('letters.messages.letters_not_found')
