
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(t('recover_password'))

- if starting_point.eql?('herstellen_wachtwoord_code_invoeren')
  = steps(2, 3, t('enter_recovery_code'))
- else
  = steps(3, 5, t('enter_recovery_code'))

- if flash[:alert]
  = flash_alert
- elsif account_has_herstelcode_email?
  = block_with_icon(t('check_email_notice_recover', email_address: mask_email(current_account.adres)).html_safe)

= extended_form_for(@recovery_code, url: recover_codes_url) do |form|
  = form.code_field(:herstelcode, code: 'H', label: recover_code_field_label_helper, required: true, example: recover_code_example_helper, hide_required_indicator: true)

  = form.buttons({action: :next, arrow: true}, :cancel)
