
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

.form_wrapper
  %h1= t('edit_pilot_group')
  .clear
  = form_for(@pilot_group) do |form|
    = render 'shared/errors', model: @pilot_group
    = field(t('name'), @pilot_group.name)
    = field(form.label(:description), form.text_area(:description, maxlength: 250, required: true))
    = field(t('number_of_participants'), @pilot_group.subscribers.count)
    = render 'shared/form_actions', model: @pilot_group

%br
.form_wrapper
  = form_for(Subscriber.new, url: pilot_group_subscribers_path(@pilot_group)) do |f|
    - if flash[:bsn_error]
      #error_explanation
        %h2 Opslaan is niet gelukt:
        %ul
          %li= flash[:bsn_error]
      %strong.red= t('bsn')
    - else
      %strong= t('bsn')

    = f.text_field(:bsn, maxlength: 9, size: 9)
    = f.hidden_field :subscription_id
    = submit_button t('add')


  %br
  %table
    %thead
      %tr
        = render 'shared/table_header', headers: %w(burgerservicenummer datum_toegevoegd)
        %th.action
    %tbody
      - if @subscribers && @subscribers.any?
        = render partial: 'subscribers/subscriber', collection: @subscribers

      - else
        %tr
          %td= t('no_subscribers')

  = paginate(@subscribers)

%br
.clear

.actions
  = link_to(t('remove_all_subscribers'), destroy_all_pilot_group_subscribers_path(@pilot_group), method: :delete, data: { confirm: t('are_you_sure') }, class: 'delete_button')
.clear

