
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

.form_wrapper
  %h2 Beheerhandelingen
  %a{ name: 'manager_log_search' }
  .form_wrapper
    = search_form_for @manager_log_search, as: :manager_log_search, url: url_for(params.merge(anchor: 'manager_log_search')) do |f|
      = render partial: 'shared/search_fields', locals: { f: f }
  - begin
    %table
      %thead
        %tr
          = render 'shared/table_header', headers: %w(services.time_of_day services.description services.ip_address uitgevoerd_door)

      - @manager_logs.each do |log|
        %tr
          %td.word-break= l(log.created_at, format: :default)
          %td.word-break= log.name
          %td.word-break= log.ip_address
          - if log.manager && (can? :read, Manager)
            %td.word-break= four_eyes_show_link(log.manager.name, log.manager, icon: false)
          - elsif log.manager
            %td.word-break= log.manager.name
          - else
            %td.word-break= 'Verwijderde beheerder'

    = paginate @manager_logs, param_name: 'manager_logs_page', html: { anchor: 'manager_log_search' }
  - rescue
    %p.cert_alert=I18n.t('log_query_timeout')
