
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(t('request_digid'))

= steps(2, 3, t('sms_code_preference'))

= flash_notice

%p= raw(t('you_need_an_extra_check_to_log_on'))
%ul
  %li.header-list-with-blocks= t('make_safer')
  %li.header-list-with-blocks= t('log_in_at_websites_with_extra')
  %li.header-list-with-blocks= t('simple_password_recovery')

= extended_form_for(@confirm, url: new_account_url, method: :post) do |form|
  = form.confirm_radio_buttons(t('yes_i_want_to_use_sms_code_verification'), raw(t('no_dont_use_sms_code_verification')), label: t('do_you_want_to_set_login_with_extra_verification'))
  = form.buttons(:next, :cancel)
