
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(balie_session? ? t('request_digid_abroad') : t('request_digid'))

= flash_notice

%h2.orange_heading= t("headers.registration.A10")

= extended_form_for(@sms_tool, as: :authenticators_sms_tool, url: phone_number_url, method: :put) do |form|

  = form.header

  = form.content do
    %label.form__item__label= t("current_mobile_number")
    %p.break-all= current_account.sms_challenge(spoken: gesproken_sms_for_session).user_friendly_phone_number

  = form.mobile_number_and_spoken_sms(required: false, update_existing_number: false, label: "#{t('mobile_phone_number')} *", accessibility_information: t('information_boxes.mobile_number_aanvraag'), information: t('information_boxes.mobile_number_aanvraag'), value: "")

  = actions do
    = action_submit(:next)
    = cancel_button(authenticators_sms_controleren_url, action: :previous, arrow: true)

= javascript_include_tag("inline/edit_phone", nonce: content_security_policy_script_nonce)
