
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

%table
  %thead
    %tr
      = render 'shared/table_header', headers: %w(services.time_of_day services.description services.ip_address webdienst account)

    -# This 'hack' makes sure the focus is not on the first element (as requested)
    %span.ui-helper-hidden-accessible
      %input{ type: 'text' }

  - @transactions.each do |transaction|

    %tr
      %td= l(transaction.created_at, format: :default)
      %td= transaction.name
      %td= transaction.ip_address
      %td= four_eyes_show_link(transaction.webservice.name, transaction.webservice, icon: false) if transaction.webservice
      %td= four_eyes_show_link(transaction.account.name, transaction.account, icon: false) if transaction.account

= paginate @transactions, remote: true, param_name: 'transactions_page'
