
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= form_for @question do |f|
  = render 'shared/errors', model: @question
  = f.hidden_field :id, value: @question.id
  - if Language.show?
    = field f.label(:locale, 'Taal') do
      = f.select(:locale, Language.all, { required: true })
  = field f.label(:page, 'Scherm') do
    = f.select(:page, Question.options, { include_blank: true }, { required: true })
    = new_link('Nieuw Scherm', new_page_path, remote: true)
  = field f.label(:position, 'Positie'), f.text_field(:position, required: true)
  .opmerking
    Vragen met een lagere positie staan boven vragen met een hogere positie.
  .opmerking
    Vragen met dezelfde positie staan in volgorde van aanmaken.
  = field f.label(:question, 'Vraag'), f.text_field(:question, required: true)
  = field f.label(:answer, 'Antwoord') do
    = f.text_area(:answer, required: true)
    = link_to 'Hulp bij opmaak', 'http://daringfireball.net/projects/markdown/syntax', target: :blank
  .field
    .label
      Voorvertoning
      = link_to 'Ververs', '#', onclick: 'load_preview(); return false', class: 'refresh_button'
    .content#preview
  = render 'shared/form_actions', model: @question

= javascript_include_tag("inline_questions", nonce: content_security_policy_script_nonce)
