
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

= heading_with_icon(@page_header)

- if current_flow.process == :activate_sms_authenticator
  = mobile_browser? ? steps(7, 7) : steps(6, 6)
- elsif current_flow.process == :revoke_driving_license
- elsif current_flow.process == :revoke_identity_card
- elsif current_flow.process == :change_password
  = mobile_browser? ? steps(6, 6) : steps(5, 5,)
- elsif current_flow.process == :change_phone_number
  = mobile_browser? ? steps(7, 7) : steps(6, 6)
- elsif current_flow.process == :authenticate_substantial
  = steps(5, 7)
- elsif current_flow.process == :change_email
  = steps(5, 6)
- elsif current_flow.process == :add_email
  = steps(5, 6)
- else
  = steps(5, 5)

%h2.orange_heading= t("digid_app.headers.enter_pin_to")
- @background = "pin#{mobile_browser? ? "-mobile" : ""}"

= actions do
  = cancel_button(current_flow[:cancelled][:redirect_to])

- if current_flow.process == :authenticate_substantial
  .poller{ data: { url: my_digid_substantial_app_poll_url(current_step: "enter_pin"), timeout: 3000, suspended: Rails.env.test? } }
- else
  .poller{ data: { url: my_digid_controleer_app_poll_url(current_step: "enter_pin"), timeout: 3000, suspended: Rails.env.test? } }
