
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

%h2.orange_heading
  %strong= t('my_digid.view_and_change_profile')
.table--shades
  .table-row
    .table-cell--overview
      %p
        = t('my_digid.settings.introduction')
        - unless current_account.last_sign_in_at.nil?
          = t('my_digid.account.last_login_at', last_login: l(current_account.last_sign_in_at, format: :date_at_time_text_tzone_in_brackets))
        = link_to(t('my_digid.account_activity.view'), index_my_digid_history_url)


= flash_notice
= flash_alert

-unless current_account.deceased?
  - if current_account.email_pending?
    = block_with_icon(t('email_added_or_changed_but_not_checked_message', link: link_to(t('enter_the_controle_code'), check_email_my_digid_url)).html_safe)
  - if current_account.sms_in_uitbreiding?
    = block_with_icon(t('sms_authentication_requested_pilot_group'))
  - if current_account.app_authenticator_pending?
    = block_with_icon(t("app_activation_by_app_request_letter_pending"))

= render('shared/news_item', news_items: @news_items)

= render('my_digid/partials/persoonlijke_gegevens')
- if current_account.password_authenticator&.active?
  = render('my_digid/partials/controle_via_sms')
= render("my_digid/partials/digid_app")
= render('my_digid/partials/identiteitsbewijzen')
- if current_account.password_authenticator&.active?
  = render('my_digid/partials/voorkeur_inlogniveau')
= render('my_digid/partials/voorkeurstaal_wijzigen')
= render('my_digid/partials/geldigheid')
