
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

.form_wrapper
  %h1 SSO domein #{@sso_domain.name}
  .actions_top
    = link_to 'Terug naar overzicht', sso_domains_path
    = link_to('Wijzig SSO domein', edit_sso_domain_path(@sso_domain), class: 'edit_button') if can? :manage, SsoDomain
  .clear
  = field 'Naam', @sso_domain.name
  = field 'Omschrijving', @sso_domain.description
  = field 'Sessie tijd', @sso_domain.session_time
  = field 'Tijd inactiviteit', @sso_domain.grace_period_time
  = field 'Gebruik tussenscherm', t(@sso_domain.show_current_session_screen.to_s)
  = field 'Webdiensten' do
    %p= render 'webservices/list', relation: @sso_domain
  .actions
    = link_to('Verwijder SSO domein', sso_domain_path(@sso_domain), class: 'delete_button', data: { confirm: t('are_you_sure') }, method: :delete) if can? :manage, SsoDomain
  .clear
