
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

- if balie_session?
  = heading_with_icon(t('request_digid_abroad'))
- else
  = heading_with_icon(t('request_digid'))

= steps(1, 4)

- if @last_registration_balie
  - if balie_session?
    = block_with_icon(t('existing_request_message_from_front_desk_to_front_desk').html_safe)
  - else
    = block_with_icon(t('existing_request_message_from_front_desk'))
- else
  - if balie_session?
    = block_with_icon(t('existing_request_message_to_front_desk'))
  - else
    = block_with_icon(t('existing_request_message'))

= extended_form_for(@confirm, url: existing_request_url) do |form|

  = form.confirm_radio_buttons(t('yes_continue_request'), t('reactivate_app_cancel'), label: t('replace_existing_request'))

  = actions do
    = action_submit(:next, arrow: true)
    = cancel_button(cancel_existing_request_url)
